div.head{
	background-color:#607D8B;
	margin-top: -8px;
	margin-bottom: 30px;
	text-align: center;
}
body{
	margin: 0px;
	height: 100%;
	font-family: sans-serif;
	background-color: #E0E0E0;
}
h1{
	font-size: 24px; 
	margin: 2px;
	padding-top: 6px;
	color: #fff;
}
h2{
	padding-top: 30px;
	padding: 10px;
	font-size: 24px; 
	margin: 2px;
	color: #fff;
}

div.body{
	background-image: url(../assets/utm.png); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30%;
	min-height: 400px;
	padding-top: 20px;
	padding-left: 120px; 
	padding-right: 120px; 
	padding-bottom: 16px;
	margin-top: -30px;
	margin-bottom: -22px;
}
img{
	float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-right: 100px;
    height: 240px;
	width: 320px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a:link, a:visited {
	background-color: #009688;
	color: white;
	padding: 2px 2px;
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
	0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

a:hover{
	background-color: #F44336;
}

.tabel { 
	display: table; 
}
.baris { 
	display: table-row; 
}
.kolom { 
	display: table-cell; 
}
p{
	margin: 0px 0px 0px 40px;	
	padding: 2px;
}
p.a{
	margin: 0px 0px 0px 0px;	
	padding: 2px;
}
p.b{
	margin: 0px 0px 0px 80px;	
	padding: 2px;
}